@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400;
}
   
@font-face{
  font-family: "Arial";
  src: url("../../assets/fonts/arialmt.ttf") format("truetype");
  font-style: normal; 
  font-weight: 400; 
}

@font-face{
  font-family: "Arial";
  src: url("../../assets/fonts/arial_italic.ttf") format("truetype");
  font-style: italic; 
  font-weight: 400; 
}


.page {
  width: 100%;
  display: flex;
  flex-direction: column;
}
  

.header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #FFFFFF;
  .header__container {
    width: 1200px;
    margin: 30px auto 30px;
    display: flex;
    justify-content: space-between;
    .header__logo {
      text-decoration: none;
      .header__text {
        max-width: 187px;
        .header__title {
          margin: 0;
          color: #545454;
          font-family: "Georgia";
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          line-height: 110%;
          letter-spacing: 0.06em;
        }        
        .header__subtitle {
          margin: 10px 0 0 4px;
          color: #292929;
          font-family: "Arial";
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 15px;
          letter-spacing: 0.1em;
        }
      }
    }
    .header__nav {
      width: 443px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .header__link {
        margin-top: 16px;
        color: #545454;
        font-style: normal;
        font-family: "Arial";
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        text-decoration: none;
        transition: all .5s ease;
        cursor: pointer;
        &:hover {
          color: #292929;
        }      
      }
      .header__link_active {
        border-bottom: 3px solid #F1CDB3;
        color: #292929;
        &:hover {
          color: #292929;
        }  
      }  
    }
  }
}

.our-friends {
  margin-top: 120px;
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  .our-friends__title {
    max-width: 400px;
    margin: 80px auto 0 auto;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
  }
  .our-friends__container {
    width: 1200px;
    margin: 60px auto 60px;
    .our-friends__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, 270px);
      grid-gap: 30px 40px;
      .our-friends__card {
        display: flex;
        flex-direction: column;
        background: #FAFAFA;
        border-radius: 9px;
        transition: all .5s ease;
        cursor: pointer;
        &:hover {
          background-color: #FFFFFF;
          .our-friends__card-more {
            background-color: #FDDCC4;
            border: none;
          }
        }
        .our-friends__card-name {
          margin: 30px auto;
          font-family: 'Georgia';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.06em;
          color: #545454;
        }
        .our-friends__card-more {
          margin: 0 auto 30px;
          width: 187px;
          height: 52px;
          padding: 0;
          border: 2px solid #F1CDB3;
          box-sizing: border-box;
          border-radius: 100px;
          background: #FAFAFA;
          font-family: 'Georgia';
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 130%;
          letter-spacing: 0.06em;
          color: #292929;
          cursor: pointer;
        }
      }
    }
  }
  .our-friends__navigation {
    margin: 0 auto 100px;
    width: 340px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    .our-friends__button {
      width: 52px;
      height: 52px;
      padding: 0;
      background: #F6F6F6;
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #292929;
      border: 2px solid #CDCDCD;
      box-sizing: border-box;
      border-radius: 100px;
      color: #CDCDCD;
    }
    .our-friends__button_count {
      background: #F1CDB3;
      border: 2px solid #F1CDB3;
      box-sizing: border-box;
      color: #292929;
    }
    .our-friends__button_active {
      border: 2px solid #F1CDB3;
      box-sizing: border-box;
      color: #292929;
      transition: all .5s ease;
      cursor: pointer;
      &:hover {
        background: #FDDCC4;
        border-color: #FDDCC4;
      }
    }
  }
}


.footer {
  width: 100%;
  background: url(../../assets/images/footer-gradient-background.png) no-repeat;
  background-size: 100% 100%;
  .footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      max-width: calc(708px + (1200 - 708) * (100vw - 768px) / (1280 - 768));
    }
    @media screen and (min-width: 320px) and (max-width: 768px) {
      max-width: calc(300px + (708 - 300) * (100vw - 320px) / (768 - 320));
    }
    .footer__contact {
      margin: 56px 0 0;
      max-width: 280px;
      height: 234px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (min-width: 768px) and (max-width: 1280px) {
        margin-top: calc(30px + (56 - 30) * (100vw - 768px) / (1280 - 768));
      }
      @media screen and (min-width: 320px) and (max-width: 768px) {
        height: calc(208px + (234 - 208) * (100vw - 320px) / (768 - 320));
      }
      @media screen and (max-width: 629px) {
        margin: 30px auto 0
      }
      .footer__title {
        margin: 0;
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        @media screen and (min-width: 320px) and (max-width: 768px) {
          font-size: calc(25px + (35 - 25) * (100vw - 320px) / (768 - 320));
        }
        @media screen and (max-width: 767px) {
          text-align: center;
        }
      }
      .footer__contact-link {
        display: flex;
        text-decoration: none;
        align-items: center;
        transition: all .5s ease;
        &:hover {
          opacity: .5;
        }
        @media screen and (max-width: 767px) {
          margin: 0 auto;
        }
        .footer__icon-email {
          width: 40px;
          height: 26px;
        }
        .footer__icon-phone {
          width: 40px;
          height: 32px;
        }
        .footer__text {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: #F1CDB3;
          margin-left: 20px;
        }
      } 
    }
    .footer__address {
      margin: 56px 0 0;
      max-width: 302px;
      height: 234px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (min-width: 768px) and (max-width: 1280px) {
        margin-top: calc(30px + (56 - 30) * (100vw - 768px) / (1280 - 768));
      }
      @media screen and (min-width: 320px) and (max-width: 768px) {
        height: calc(222px + (234 - 222) * (100vw - 320px) / (768 - 320));
      }
      @media screen and (max-width: 629px) {
        margin: 40px auto 0;
      }
      .footer__title {
        margin: 0 auto;
        max-width: 270px;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        @media screen and (min-width: 320px) and (max-width: 768px) {
          font-size: calc(25px + (35 - 25) * (100vw - 320px) / (768 - 320));
        }
        @media screen and (max-width: 767px) {
          text-align: center;
        }
      }
      .footer__address-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: all .5s ease;
        &:hover {
          opacity: .5;
        }
        .footer__icon-place {
          width: 22px;
          height: 32px;
        }
        .footer__text {
          font-family: "Georgia";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: #F1CDB3;
          margin-left: 20px;
        }
      }
    }
    .footer__image {
      margin: 40px 0 0;
      width: 300px;
      height: 310px;
      @media screen and (max-width: 949px) {
        margin: 65px auto 0;
      }
      @media screen and (min-width: 320px) and (max-width: 768px) {
        width: calc(260px + (300 - 260) * (100vw - 320px) / (768 - 320));
        height: calc(269px + (310 - 269) * (100vw - 320px) / (768 - 320));
      }
    }
  }  
}